.footerStyle {
    grid-area: ft;
    background: #EAECEE;
    height: 400px;
}

.footerContainer {
    width: 1200px;
    padding-top: 60px;
    display: grid;
    margin: 0 auto;
    color: #556677;
    font-weight: bold;
    align-content: center;
    grid-template-areas: 
    "sv os sc ab";
}

.services {
    grid-area: sv;
    padding-left: 60px;
}

.otherServices {
    grid-area: os;
    padding-left: 60px;
}

.terminalSchemes {
    grid-area: sc;
    padding-left: 60px;
}

.aboutInfo {
    grid-area: ab;
    padding-left: 60px;
}

.childItem {
    display: block;
    font-weight: lighter;
    color: #556677;
    text-decoration: none;
}

.childItem:hover {
    color: #556677;
}