<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ThreadSleepTimeInMin" value="2"/>
		<add key="LogFilePath" value="C:\airport_flights\logs\FlightMinerLog.txt"/>
		<add key="OutputFilePath" value="C:\airport_flights\FlightsList.json"/>
		<add key="YandexApiKey" value="place token here"/>
	</appSettings>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>