.servicesContainer {
    margin: 0 auto;
    width: 1200px;
    min-height: 800px;
    display: grid;
    grid-template-areas: "services-navigation services-content";
    grid-template-columns: 250px 950px;
}

.servicesNavigation {
    grid-area: services-navigation;
}

.servicesContent {
    grid-area: services-content;
}