.logoStyle {
    height: 50px;
    padding-left: 25px;
}

.ticketHeader {
    height: 70px;
}

.ticketContainer {
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 20px;
}

.tableHeader {
    background-color: #23B9D6;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.barcode {
    display: block;
    width: 100px;
    transform: scale(0.75);
    float: right;
    margin-right: 145px;
}

.infoCaption {
    font-weight: 1000;
    font-size: 18px;
}